@import "~variables";

.module {
  margin: 0 0 0 12px;
  padding: 3px 18px;
  font-weight: bold;
  color: #fff;
  background: green;
  display: inline-block
}

.intro {
  width: 360px;
  margin: 10% auto;
  background: #fff;
  padding: 30px 20px 40px;
  box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.1);

  h1 {
    font-size: 26px;
    margin-bottom: 20px;
    span {
      font-size: 9px;
      color: $point;
      vertical-align: top;
      font-style: italic;
      line-height: 24px;
      margin-left: 4px;
    }
  }

  label {
    display: block;
    span {
      display: block;
      font-size: 10px;
      margin-top: 5px;
      padding: 0 2px 4px;
      color: #757575;
    }
  }

  input {
    color: #111;
    display: block;
    width: 100%;
    font-size: 15px;
    line-height: 46px;
    padding: 0 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }

  label + label input {
    margin-bottom: 15px;
  }

  button {
    display: block;
    border: 0;
    width: 100%;
    font-size: 15px;
    line-height: 44px;
    color: #fff;
    background: $point;
    cursor: pointer;
    transition: background 0.3s;
    &:hover {
      background: $point-dark;
    }
  }
}