
.textarea-position {
  position: absolute;
  width: 100%;
  height: 100%;

  & > div {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px 10% 100px;

    & > form {
      position: relative;
      width: 100%;
      height: 100%;
      box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.1);
    }
  }
}

.textarea {
  background: #fff;
  border: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px;
  font-size: 14px;
  line-height: 26px;
}

.navigation {
  position: absolute;
  bottom: 4px;
  width: 100%;
  height: 85px;
  line-height: 46px;
  & > div {
    padding: 0 10%;
    p {
      float: left;
      padding-left: 1px;
      font-size: 12px;
      color: #ccc;
    }
    li {
      float: right;
    }
    li + li button {
      color: #999;
      margin-right: 0;
    }
    button {
      font-size: 14px;
      background: inherit;
      padding: 9px 20px;
      margin: 5px 0 0 0;
      border: 0;
      color: #33c1ab;
      cursor: pointer;
      &:hover {
        background: #eaeaea;
      }
    }
  }
}

.loading-box {
  position: fixed;
  bottom: 0;
  height: 4px;
  width: 100%;
}


.wait {
  position: absolute;
  width: 0;
  height: 100%;
  background: #33c1ab;
}

.start {
  transition: width 3s;
  width: 90%;
}

.end {
  transition: width 0.1s;
  width: 100%;
}